<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Primeiro Número" [(ngModel)]="n1" labelPlacement="floating" placeholder="Digite o primeiro número" type="number"></ion-input>
  </ion-item>

<ion-item>
  <ion-input label="Segundo Número" [(ngModel)]="n2" labelPlacement="floating" placeholder="Digite o segundo número" type="number"></ion-input>
</ion-item>

<ion-button expand="block" (click)="somar()">Somar</ion-button>

<ion-label>{{res}}</ion-label>
</ion-content>
